[2017-02-16 16:51] kazlauskis opened #1 "Survey page: Can we change “Identifiers” to “Name(s)”"
as we discussed, it would be great if this could auto-fill the person’s name from their account, but then also allow the entry of additional people.

[2017-02-16 16:51] kazlauskis opened #2 "Identifiers page"
Change “If anyone helped with the identification please enter their name here.” to “Please add additional recorders here” [assuming that primary recorder name automatically appears]

[2017-02-16 16:52] kazlauskis opened #3 "Change ‘Habitat’ to ‘Broad habitat’"
Survey page and elsewhere

[2017-02-16 16:52] kazlauskis opened #4 "Change photopicker the text"
No photo has been added to No plot photo has been added

[2017-02-16 16:53] kazlauskis opened #5 "Location page grid"
could the background of the rows for the squares be made a slightly darker shade, just so that the plot rows are better distinguished from the square rows

[2017-02-16 16:54] kazlauskis opened #6 "Delete specied"
perhaps I am looking at an old version, but it is not clear to me how to delete species (e.g. if one has made a mistake)

[2017-02-16 16:54] kazlauskis commented on #6
this works fine on a mobile device. same with surveys on the main page.

[2017-02-16 16:55] kazlauskis opened #7 "Syncing plots"
There is an additional complication here, because, in a small number of cases, there are plots within a squares not owned by the surveyor (this is because early on a small number of squares were assigned to more than one person). On the website we provide some help with this by showing whether a plot belongs to that user or not (the ‘My plot’ column on this page http://www.npms.org.uk/my-squares-a

[2017-02-16 16:55] kazlauskis opened #8 "Plot issues"
At the moment, when I log in to the NPMS Training website (http://192.171.199.230/npms_training/) with my account, I can only see one square with two plots, but the app finds 4 squares and 5 plots. Not sure what is happening there?

[2017-02-16 16:56] kazlauskis opened #9 "Additional info text"
- [ ] Additional Info (change to “Additional information”, and make this the title of the next page (listing all the extra info categories).

- [x] Within additional information: change ‘How wooded’ to ‘Woody cover’

- [x] Within additional information: change ‘Vegetation’ to ‘Vegetation height’

- [ ] Change last four to the following format: “Bare soil (plot cover)” “Bare rock (plot cover)” etc.

[2017-02-16 16:57] kazlauskis opened #10 "Plot label"
When you create a plot on the NPMS website, you can give a plot name (we advise people to label them numerically, but it is a free-text field). It would be good if we could display this information, as on the NPMS website (e.g. Plot 1 at SU4212887299 (Linear plot)). I know that you were thinking about a symbol to indicate plot type (linear / square 10 m / square 5 m), but do you think we could als

[2017-02-16 16:58] kazlauskis opened #11 "Fine habitat auto selection"
Where there is a broad habitat with only one nested fine-scale habitat (e.g. arable, native pinewood), can the fine-scale habitat be automatically selected? (This is what happens on the website).

[2017-02-27 17:26] sacrevert opened #12 "Support text"
on [(http://192.171.199.230/mobile/npms/#info/help)]
change text "For more help please visit the NPMS forum."
To "For more help, please email the NPMS coordinator at support@npms.org.uk"

[2017-03-02 17:46] #1 closed, assigned to nobody

[2017-03-02 17:48] #2 closed, assigned to nobody

[2017-03-02 17:52] #3 closed, assigned to nobody

[2017-03-02 17:53] #4 closed, assigned to nobody

[2017-03-02 17:58] #5 closed, assigned to nobody

[2017-03-02 17:58] #6 closed, assigned to nobody

[2017-03-02 18:00] kazlauskis commented on #9
I can't change the ones that are too long.

[2017-03-02 18:00] #9 closed, assigned to nobody

[2017-03-02 18:02] #11 closed, assigned to nobody

[2017-03-02 18:05] #12 closed, assigned to nobody

[2017-03-03 11:05] #8 closed, assigned to nobody

[2017-03-03 11:09] #7 closed, assigned to nobody

[2017-03-21 15:42] kazlauskis opened #13 "Allow updating species"

[2017-03-21 15:44] kazlauskis opened #14 "External links back page"
External links don't always return back to same app page.

[2017-03-21 15:47] kazlauskis opened #15 "Taxa search"
Was not finding “dog-rose”

[2017-03-21 15:48] kazlauskis opened #16 "Photo upload"
When attaching a photo to a plot, the app allowed me to take one specifically for upload but it could not upload a photo that was already in my photo gallery (at least, I’m not sure if it uploaded or not, but if I clicked on the thumbnail it said “The image could not be loaded” on a black screen. Once it showed this black screen it then caused the app to go into meltdown, showing just the top blue

[2017-03-21 15:51] kazlauskis opened #17 "Delete user data on logout"

[2017-03-27 12:42] sacrevert opened #18 "Oli's text changes etc"
1. Management: some text lost by not showing multiple lines

2. Grazing: header says ‘ Which animals were grazing?’, but does not capture animal type, only intensity. Website captures both (animal type is free text).

3. Comment: Please add any extra info about this plot

4. Bare rock: On entry title changes to Gravel. Call both titles Bare rock etc. if Bare rock/gravel too long.

Other, main page

[2017-03-27 12:46] sacrevert opened #19 "Niki's text changes"
Yes, please add “searches can also be made using common names” below the example scientific name abbreviations.

**Edits for Privacy Information:**
i)	Under ‘Who will have access to my personal data’, please add the word ‘these’ to ‘Unless required by law, these data will not be made available to any third parties… etc.” just to avoid ambiguity.
ii)	Under ‘Use of your name’, delete “and those subm

[2017-03-31 09:40] kazlauskis commented on #18
Great, thanks, could you split such blocks to different tasks next time, it's easier to comment that way.

[2017-03-31 09:42] kazlauskis commented on #18
The biggest issue with those text changes is that some are bit too long to fit in nicely. I had to remove the 'black bags' from 'Silage production (i.e. black bags)'.

[2017-03-31 09:53] kazlauskis commented on #19
Yes, I have deleted the how to make a record though I can easily add it in if you want.

[2017-03-31 10:38] kazlauskis commented on #15
It can be found by latin.

[2017-03-31 16:04] kazlauskis opened #20 "Fix photo picker"
Add->delete->add doesn't work

[2017-05-31 08:24] sacrevert commented on #18
@kazlauskis Can I close this now?

[2017-05-31 08:24] sacrevert commented on #19
Presuming that this can be closed now.

[2017-05-31 08:24] #19 closed, assigned to nobody

[2017-05-31 08:24] #18 closed, assigned to nobody

[2017-05-31 08:27] sacrevert opened #21 "Login page text"
From Claire Halpin:

[2017-05-31 08:30] sacrevert opened #22 "Additional info values"
From Claire Halpin:

[2017-05-31 08:31] sacrevert opened #23 "Comment aesthetics"
From Claire Halpin:

[2017-05-31 08:32] sacrevert opened #24 "Vegetation text typo"
From Claire Halpin:

This is also wrong on the website, so will ask Andy to change also.

[2017-05-31 08:41] sacrevert opened #25 "vegetation height error detection"
From Claire Halpin:

[2017-05-31 08:42] sacrevert opened #26 "Date options"
From Claire Halpin:

What is the point of the Clear button too, as date is surely mandatory? If you do use the Clear button, then go back to the main Survey page, the date hasn't been cleared, but is set to whatever value it had previously.

[2017-05-31 08:42] sacrevert opened #27 "Recorder names error message"
From Claire Halpin:

[2017-05-31 08:43] sacrevert opened #28 "Occasional species selection bug"
From Claire Halpin:

[2017-05-31 08:44] sacrevert opened #29 "Species cover value error"
From Claire Halpin:

[2017-05-31 08:45] sacrevert opened #30 "Species-cover page flow"
From Claire Halpin:

[2017-05-31 08:48] sacrevert opened #31 "Latin/common name and species selection"
From Claire Halpin:

Is it possible to only show Latin name when selecting species, even if common name is searched by user (I presume there is not space to include Latin name). Although no doubt many recorders will not be happy with a Latin name only display (even if they can search common name). Not sure what the solution is here, but I can see that the ambiguity of the common names in the list,

[2017-05-31 08:49] sacrevert opened #32 "Upload terminology"
From Claire Halpin:

[2017-05-31 08:50] sacrevert opened #33 "Upload button/process"
From Claire Halpin:

[2017-07-31 14:28] sacrevert opened #34 "Cover value -- app flow"
If the user enters a species, but exits without giving a cover value (as people might do, as they often prefer to build a list, and then add all the cover values all at once at the end), then when you go back in to add the cover value, once you select the cover value, the ‘species chooser’ window appears again. If you then choose the same species, it then asks you for the cover value again. It wou

[2017-07-31 14:28] sacrevert opened #35 "Vegetation height typo"
Typo in vegetation height options (currently “<=11-30 cm”, should be “11-30 cm”). [Again, not critical, but potentially confusing].

[2017-07-31 14:29] sacrevert opened #36 "De-selecting additional info option"
For the ‘additional info’ options that include a choice of cover, it does not seem to be possible to unselect an option (one can change the cover value, but not completely remove the selection, so that no value is recorded).

[2017-07-31 19:59] #20 closed, assigned to nobody

[2017-08-03 13:06] sacrevert opened #37 "Users could use existing plots in a square without being approved (through app)"
Hi,

Yes actually you would be right that indeed it wouldn't be urgent given that. I didn't think about not being able to create the plot in the app

It wouldn't be the case that there would "no way", but it would probably require a more complex scenario than what you suggested The most obvious one I can think of is if someone allocates themselves a square that has already been in use and was de-a

[2017-09-17 20:38] kazlauskis opened #38 "sample:entered_sref error on submission"
![img_2020](https://user-images.githubusercontent.com/7383162/30524715-9159d006-9bf0-11e7-9132-4d956585aa02.png)

[2017-09-17 20:42] kazlauskis commented on #38
This part attaches the `entered_sref` to the submission in [this file](https://github.com/NERC-CEH/npms-app/blob/master/src/common/config/config.js#L101).

For some reason the `value.plot` must be empty or corrupted so that the warehouse rejects it then.

[code]

[2017-12-13 13:50] sacrevert opened #39 "In-app registration -- data access policy issues"
From @andrewvanbreda as a marker for future work

I don't think this would be too much of a problem for new users as I think one of the things we will do is make setting the data agreement checkbox mandatory.....I assume that would be easy on the app.
However older users who haven't agreed would need to be restricted.  In theory we just check the value of the data agreement and restrict usage.....

[2018-06-26 07:21] andrewvanbreda opened #40 "Phone menu obscuring app menu"
The purple menu bar accress the top of the screen is cutoff be mobile’s own black menu bar across the top of the screen. In the top right of the NPMS app I think it says “Survey”  but this is heavily obscured.
Android 6.0 phone

[2018-06-26 07:23] andrewvanbreda opened #41 "First registration button doesn't react"
On the initial app screen, if I click on the add survey button then I am asked to sign in, or register. However the registration button doesn’t react in this scenario.
(Note that later on, when I used logout, I was taken to a screen that looked different and this registration link did work ok).

Android 6.0

[2018-06-26 07:24] andrewvanbreda opened #42 "Terms and conditions link not working on registration screen"
On the registration page, the Terms and Conditions link doesn't react.

Android 6.0

[2018-06-26 07:26] andrewvanbreda opened #43 "Management question missing "Other" free text"
The app's management question "Other" option is missing the box for entering free text detail.

[2018-06-26 07:27] andrewvanbreda opened #44 "During registration on app I had to specify password twice"
During registration on the App, I think it asked me for my password.
However once I got the registration email, the website also asked me to enter a password too during registration, so perhaps we don’t need password field during app registration.

[2018-06-26 07:29] andrewvanbreda opened #45 "App questions order doesn't match website."
Halfway though adding a Wildflower survey it warned me I didn’t have any plots. Ordering of questions is different to live site, location first on live.

Probably applies to other survey types too.

[2019-05-15 14:29] andrewvanbreda commented on #44
Indicia API module now has its own NPMS app branch. This allows an administrator to specify a registration email that doesn't include a link to the password setup page (as it is already done on the app). The account is also auto-activated.

[2019-05-15 14:34] andrewvanbreda commented on #39
The user will now register with app and select the data access policy toggle. This then automatically selects the data access policy on the Drupal website. The user is then required to fill in their address on the website and at this point the data access agreement is synced to the Indicia Warehouse for display on the User Information Download

[2019-05-15 14:38] andrewvanbreda commented on #41
I do not know if a fix was deliberately coded for this, but the latest app code I have been trying doesn't seem to have this problem.

[2019-05-15 14:38] #41 closed, assigned to nobody

[2019-05-15 16:13] DavidRoy commented on #44
@kazlauskis is this an idea to replicate for other Indicia apps?

[2019-05-16 09:39] andrewvanbreda commented on #44
@DavidRoy @kazlauskis
I haven't used any of your other apps, but there is nothing about this change that should limit it to NPMS only. If I remember correctly all the changes are in the Indicia API module for Drupal 7.
I suppose the only thing is it might need porting to the Drupal 8 version of the module if any projects are running Drupal 8.

[2019-05-19 10:25] kazlauskis commented on #44
Yeah, this might be useful to have for other new apps that use the DP8 version of this module. As for other apps that use the DP7, it all works correctly. Say for the iRecord App, the verification email with a link is sent to new users and clicking the link then activates your account and sends a welcome email.

[2019-06-03 20:28] sacrevert commented on #45
I don't think this is a a problem. Closing

[2019-06-03 20:28] #45 closed, assigned to nobody

[2019-06-03 20:31] sacrevert commented on #43
I'm going to label things that *might* be easy to fix as "high". But please downgrade them if they are not easy to do. I'm just using "high" to flag potentially quick wins, as we agreed.

[2019-06-03 20:32] sacrevert commented on #42
Can this be closed now @andrewvanbreda ? Seems to work.

[2019-06-03 20:34] sacrevert commented on #40
@kazlauskis do you think this is something that is likely to have been fixed as a result of recent work? Or is it just low priority as version 6.0 is fairly old now?

[2019-06-03 20:35] sacrevert commented on #38
@kazlauskis can this be closed?

[2019-06-03 20:36] sacrevert commented on #37
@andrewvanbreda can this be closed Andy?

[2019-06-03 20:40] sacrevert commented on #36
This still seems to be the case. Can we add a '0' option? @andrewvanbreda presumably this would be OK from a website point of view? (the website does not explicitly give 0 as an option, but there is a blank option -- does this insert a zero into the database, or does it create an NA?

[2019-06-03 20:41] sacrevert commented on #35
Looks like a very quick fix

[2019-06-03 20:44] sacrevert commented on #34
I can't check this as I don't seem to be able to add species through the web browser test app; however, I think this is an important issue if it can be fairly easily fixed

[2019-06-03 20:49] sacrevert commented on #33
Is there a pop-up to ask people whether they really want to submit @kazlauskis ? If so then I think we can close this issue (I don't want to submit stuff to live just to find this out).

[2019-06-03 20:50] sacrevert commented on #32
Change "Sync. with NPMS" to "Upload to NPMS"

[2019-06-03 20:51] sacrevert commented on #31
To check when on app store

[2019-06-03 20:53] sacrevert commented on #30
Relates to #34 . Revisit when that is fixed

[2019-06-03 20:54] sacrevert commented on #29
Revisit when on app store

[2019-06-03 20:55] sacrevert commented on #28
Revisit when on app store

[2019-06-03 20:56] sacrevert commented on #27
@kazlauskis a quick fix?

[2019-06-03 20:58] sacrevert commented on #26
up and down arrows seem to work now. Clear button is perhaps a bit pointless, but it hardly seems worth the effort to remove it

[2019-06-03 20:58] #26 closed, assigned to nobody

[2019-06-03 21:00] sacrevert commented on #25
Would be nice if values other than 0,1,2,3 were shown as errors, but I imagine this is not a quick fix?

[2019-06-03 21:00] sacrevert commented on #24
Quick fix to text @kazlauskis

[2019-06-03 21:01] sacrevert commented on #23
seems to be ok now

[2019-06-03 21:01] #23 closed, assigned to nobody

[2019-06-03 21:01] sacrevert commented on #22
duplicates existing issue

[2019-06-03 21:01] #22 closed, assigned to nobody

[2019-06-03 21:02] sacrevert commented on #21
Presumably not a quick fix

[2019-06-03 21:03] sacrevert commented on #17
@kazlauskis can this be closed?

[2019-06-03 21:03] sacrevert commented on #16
@kazlauskis can this be closed?

[2019-06-03 21:05] sacrevert commented on #13
not sure what this refers to. Can it be closed?

[2019-06-03 21:30] #42 closed, assigned to andrewvanbreda

[2019-06-04 18:19] kazlauskis commented on #40
Not sure, but I will have a look at this.

[2019-06-04 18:20] kazlauskis commented on #38
I will close it once the app is released in the apple app store

[2019-06-04 18:22] kazlauskis commented on #27
Yeah, I will fix it.

[2019-06-04 18:24] kazlauskis commented on #21
Yeah, I think this isn't a big issue (if any) at the moment. I will try to make it slightly bigger if I have the time.

[2019-06-04 18:24] #21 closed, assigned to kazlauskis

[2019-06-04 18:26] kazlauskis commented on #17
I think it retains the previous account info right now. Including previous plots, so this is an important one to fix.

[2019-06-04 18:26] #16 closed, assigned to nobody

[2019-06-05 12:46] andrewvanbreda commented on #36
@sacrevert
The blank option on the website isn't an explicit termlist term, it is just a blank cell added automatically by indicia.
If nothing is selected in the control and a save is made, then nothing is added to the database.
If editing an existing sample and the control previously had a selection and then blank is chosen, Indicia automatically sets the deleted flag to on for the value selectio

[2019-06-05 12:55] sacrevert commented on #36
Ok. Thanks. So some way of unselecting a selected term needs adding, but this shouldn't introduce any new termlist terms. (Presumably the visual display could give a '0', as long as under the hood this was just leaving the database field blank). Not sure whether @kazlauskis will have the resource for this at the moment. Is a simple solution just to allow a second tap to deselect a selected option?

[2019-06-05 13:37] #37 closed, assigned to andrewvanbreda

[2019-09-02 09:39] #44 closed, assigned to nobody

[2019-11-29 16:45] sacrevert opened #46 "Add DAERA logo to splash screen"
@sacrevert has a copy of this

[2019-12-12 10:40] sacrevert opened #47 "Highlight genus level records at Inventory level as per website"
See https://github.com/BiologicalRecordsCentre/NPMS/issues/161

[2020-01-14 11:31] sacrevert opened #49 "Photo uploads again"
Photo picker still appears to be broken on my phone. Cannot add photo directly from camera, but had to go via image gallery.

Android 8.1.0
Current version (build number): OPP28.85-19-4-2
Phone: Moto G5

[2020-06-01 16:02] sacrevert commented on #39
@andrewvanbreda Can this be closed?

[2020-06-01 16:02] sacrevert commented on #38
@kazlauskis Can this be closed?

[2020-06-01 16:04] sacrevert commented on #35
@kazlauskis looks like this could be closed?

[2020-06-01 16:04] sacrevert commented on #34
@kazlauskis Could be closed?

[2020-06-01 16:04] sacrevert commented on #32
@kazlauskis Could be closed?

[2020-06-01 16:05] sacrevert commented on #27
@kazlauskis Can be closed?

[2020-06-01 16:06] sacrevert commented on #13
@kazlauskis not sure what this refers to. Can it be closed?

[2020-06-01 16:07] sacrevert commented on #17
@kazlauskis can be closed?

[2020-06-01 18:25] #17 closed, assigned to nobody

[2020-06-01 18:25] #33 closed, assigned to kazlauskis

[2020-06-01 18:26] #38 closed, assigned to kazlauskis

[2020-06-01 18:26] #34 closed, assigned to kazlauskis

[2020-06-01 18:26] #43 closed, assigned to kazlauskis

[2020-06-01 18:26] #36 closed, assigned to kazlauskis

[2020-06-01 18:26] #32 closed, assigned to kazlauskis

[2020-06-01 18:26] #24 closed, assigned to kazlauskis

[2020-06-01 18:26] #27 closed, assigned to kazlauskis

[2020-06-01 18:26] #35 closed, assigned to kazlauskis

[2020-06-01 18:26] #39 closed, assigned to andrewvanbreda

[2020-06-01 18:26] #40 closed, assigned to kazlauskis

[2020-06-01 18:27] #13 closed, assigned to kazlauskis

[2020-06-02 11:23] sacrevert commented on #46
[DAERA-NIEA-BANNER.zip](https://github.com/NERC-CEH/npms-app/files/4716774/DAERA-NIEA-BANNER.zip)
Let me know if this is not the best format.

[2020-06-02 11:33] sacrevert commented on #31
Can we change the current behaviour:

![Screenshot_20200602-122958](https://user-images.githubusercontent.com/5985134/83515344-1ec99600-a4cd-11ea-83d5-6ff992db0bff.png)

To the irecord behaviour where Latin names are shown to clarify ambiguous common names please:

![Screenshot_20200602-123106](https://user-images.githubusercontent.com/5985134/83515430-415baf00-a4cd-11ea-968d-d97a38e7bc79.png)

[2020-06-02 11:39] sacrevert commented on #30
Already fixed as a part of #34

[2020-06-02 11:39] #30 closed, assigned to sacrevert

[2020-06-02 11:40] sacrevert commented on #29
Grey bar appears not to be present any more

[2020-06-02 11:40] #29 closed, assigned to sacrevert

[2020-06-02 11:41] sacrevert commented on #28
Cannot reproduce now. Assume fixed

[2020-06-02 11:41] #28 closed, assigned to sacrevert

[2020-06-02 11:42] sacrevert commented on #25
Restrict data entry to the values {0,1,2,3} for vegetation height additional data

[2020-06-02 11:43] sacrevert commented on #15
Seems to be fixed

[2020-06-02 11:43] #15 closed, assigned to nobody

[2020-06-02 11:44] sacrevert commented on #14
Not sure I understand this, but if i click on a link from about page, and then use phone's back option, I do return to the app.

@kazlauskis Could be closed?

[2020-06-02 11:46] sacrevert opened #51 "Link update"
On 'About' page, the link to the NPMS flow diagram should now be:
https://www.npms.org.uk/sites/default/files/PDF/NPMS_survey_flow_diagram_April2015_1.pdf

[2020-06-02 11:47] sacrevert commented on #10
Yes, this is a good idea. I would be happy with truncated names (ending with an ellipsis '...' to indicate truncation). Only medium priority though I think.

[2020-06-16 12:17] sacrevert opened #53 "Inherited plots not available to new owner through app"
I have been made aware of a possible problem with the App today by a surveyor wishing to enter data. I’m not sure if it is only something he is experiencing, but I think it’s something that will likely affect others in the same bot.

Basically He has inherited plots within his 1km square. So even though you can see these plots on the website for him (albeit showing as “No” under “My plot” as they

[2020-06-16 19:19] andrewvanbreda commented on #53
My conclusions were as follows

Right I think there are actually 2 problems........this confused me. So there is actually something for Karolis to investigate.

1. I think the NPMS website has a minor problem.
I think this is actually showing the plots to the user when they should actually be hidden if a square is owned by more than one person and someone else has created the plots.
This is a mino

[2020-06-17 15:03] kazlauskis commented on #46
Do you have a black and white one?

[2020-06-18 11:03] kazlauskis commented on #49
Sorry, I cannot replicate this. I have an older Moto G4 running Android 7 and it works fine just as well as with newer devices. The app asks for a permission to access your Gallery and Camera, have you granted that? You should be able to change/inspect this in the device settings -> Apps -> NPMS app -> Permissions.

When trying to use the take a photo with a camera when using the app, what does it

[2020-06-18 11:09] sacrevert commented on #49
When I take a photo with standard camera it shows me the pic, I approve it, but then it doesn't appear on the sample. The permissions list doesn't give the camera, closest is SD card access (even when I have expanded to see all permissions)

[2020-06-18 11:13] kazlauskis commented on #47
Would a warning next to each genus entry be OK here? Else, I can also add a popup upon submission if you preferred.

![Screenshot 2020-06-18 at 12 08 53](https://user-images.githubusercontent.com/7383162/85013452-81bd5d00-b15c-11ea-94d5-ab2b93854fb8.png)

[2020-06-18 11:16] kazlauskis commented on #49
Thanks, this is very useful.

[2020-06-18 11:22] sacrevert commented on #47
Warning looks great, good thinking.
Maybe say "Please provide photo(s) to aid ID" though to encourage people to submit a selection of pics

[2020-06-18 11:52] kazlauskis commented on #47
Great. The app allows only one picture per species at the moment so I will phrase it `Please provide a photo to aid ID` for now.

[2020-06-18 12:33] kazlauskis commented on #47
Would it make sense to keep it consistent and show the same warning across all the surveys or would you like it just for the inventory survey?

[2020-06-18 12:39] sacrevert commented on #47
At wildflower and indicator level the only genus level records allowed (in theory!) are those listed as NPMS indicators. These are all relatively difficult taxa, so the photos probably won't be that useful in those cases.

More generally though, we could display the warning for all taxa, across all survey levels, when the iRecord "ID difficulty" flag is at least level 2 (e.g. most grasses, like Po

[2020-06-18 12:52] kazlauskis commented on #47
The app currently doesn't have such information, but if it had then this would be great to show. Yes, please create another ticket.

[2020-06-18 12:55] sacrevert opened #54 "Suggest photo when ID difficulty = or > 2"
Display the "please add a photo" alert for all taxa, across all survey levels, when the iRecord "ID difficulty" flag is at least level 2 (e.g. most grasses, like Poa annua).

Note that a photo is not mandatory, just encouraged

[2020-06-18 12:56] sacrevert opened #55 "More than 1 species photo"
Although more than one photo for a species

[2020-06-18 12:57] sacrevert commented on #47
@kazlauskis just to confirm, photos are being encouraged here, but should not be mandatory at this point (we can review this in future)

[2020-07-14 14:24] #25 closed, assigned to kazlauskis

[2020-07-14 14:24] #49 closed, assigned to kazlauskis

[2020-07-14 14:24] #10 closed, assigned to kazlauskis

[2020-07-14 14:24] #53 closed, assigned to andrewvanbreda, kazlauskis

[2020-07-14 14:24] #47 closed, assigned to kazlauskis

[2020-07-14 14:24] #46 closed, assigned to kazlauskis

[2020-07-14 14:24] #31 closed, assigned to kazlauskis

[2020-07-14 14:24] #51 closed, assigned to kazlauskis

[2020-07-14 14:29] sacrevert opened #56 "General module upgrades"
@kazlauskis mentioned that various modules would need upgrading at some point in the next year or so. This is for security, app store acceptability, and compatibility with other apps (code sharing etc.)

Just leaving this here as a note to myself.

[2020-07-30 10:17] sacrevert opened #58 "Handle website maintenance messages"
From @kazlauskis

[2020-09-18 10:45] sacrevert opened #62 "Add resources page"
Page of links to other AI apps:

- [x] Title
"Recommended resources"
- [x] Body text to describe the page
"You may find the below apps useful for plant ID and field navigation"
1. "Plant ID"
- [x] PlantNet: https://apps.apple.com/gb/app/plantnet/id600547573
- [x] Flora Incognita:
https://play.google.com/store/apps/details?id=com.floraincognita.app.floraincognita&hl=en_GB&gl=US
- [x] Seek:
https://

[2020-09-18 10:45] sacrevert opened #63 "PDF map access through app"
PDF map access through app?

[2020-09-18 10:49] sacrevert opened #64 "Auto-tweeting of plot or species photos from app?"
Idea from Felicity

[2020-12-04 10:24] sacrevert commented on #62
@sacrevert @NPMSsupport @kwal2 to provide list of specific links

[2020-12-08 06:16] kwal2 commented on #62
Free one that I use and seems to work well is Flora Incognita
https://play.google.com/store/apps/details?id=com.floraincognita.app.floraincognita&hl=en_GB&gl=US

[2020-12-08 09:49] sacrevert opened #65 "Add training mode to the app"
Samples now support training mode in Indicia so we can add this to the app. Website already has this functionality - ask Andy.

[2021-04-07 10:41] kazlauskis commented on #54
@sacrevert is this is based on the species informal group type? In the app we have these types I can pick:
fern
flower. plant
conifer
stonewort
clubmoss
horsetail
ginkgo
quillwort

[2021-04-07 10:43] kazlauskis commented on #58
@andrewvanbreda do you know if there is a good way to programmatically check the NPMS site is down for maintenance?

[2021-04-07 10:45] kazlauskis commented on #63
@sacrevert what is the PDF you would like me to embed into the app?

[2021-04-07 10:48] kazlauskis commented on #64
@sacrevert do you have any preferences where would you like to see the sharing option available? One of the places could be at the top of an uploaded record page:

<img width="323" alt="Screenshot 2021-04-07 at 11 46 27" src="https://user-images.githubusercontent.com/7383162/113854600-f23e7480-9796-11eb-84de-a07291783d15.png">

[2021-04-07 12:35] sacrevert commented on #54
@kazlauskis No, this is based on a specific numeric ID difficulty field, this is already used for some of the NPMS record autochecks (and elsewhere in indicia), however, I don't know where it is stored. I expect one of @DavidRoy @andrewvanbreda and/or @kitenetter will know though

[2021-04-07 12:37] sacrevert commented on #63
@kazlauskis Maps for squares have the following URL form:
https://www.npms.org.uk/sites/default/files/PDF/squares/NR4651.pdf
So, the PDF name is the location name of the square.

[2021-04-07 12:40] sacrevert commented on #64
I suppose it depends whether we are allowing people to tweet at the sample or occurrence level. If sample level then I think we would like the tweet to have the sample (plot) photo, if occurrence, then the image of the plant (I suppose then we would want to force people to take a photo of the plant). Not sure whether @DavidRoy or @NPMSSupport have any other ideas or insights?

To answer your actua

[2021-04-07 12:45] kazlauskis commented on #63
Thanks, I think, have misinterpreted the requirement here. Can you explain a bit more how/where would you like the app to display these PDFs?

[2021-04-07 12:48] sacrevert commented on #63
That's OK, I don't think we thought this item would get done under the current subcontract from PL anyway. (Unless I am forgetting something).

The idea is that it is just a convenience option for the user. So, I imagine it would perhaps just be a separate option from the main page, in the way that the map of the British Isles is in the iRecord app. That is to say, it doesn't really matter where i

[2021-04-07 12:53] kitenetter commented on #54
@kazlauskis this is the query I use to list the ID difficulty scores for plants:
`SELECT vrd.id, tg.title, t.taxon, vrd.key, vrd.value, vr.title, vr.description, vr.test_type
FROM verification_rule_data vrd
JOIN verification_rules vr ON (vrd.verification_rule_id = vr.id AND vr.deleted IS NOT true)
JOIN taxa t ON (vrd.key = t.search_code AND t.deleted IS NOT true AND t.taxon_group_id IN (78,81,87,8

[2021-04-07 12:57] sacrevert commented on #54
Thanks @kitenetter !

[2021-04-07 12:58] DavidRoy commented on #64
Sample level seems right to me. With a plot photo together with a summary of the occurrences?

[2021-04-07 13:00] kazlauskis commented on #63
So as far as I understand these are user-selected squares that appear in the locations list when doing a survey. What if we added a link to the PDFs next to the square name? Would this be OK if this worked online only?

Also, does every square has a matching PDF? Like in this example we have a square in Ireland that seems to have a PDF but I haven't tried the Channel Islands or other places yet.

[2021-04-07 13:02] sacrevert commented on #64
Yeah, that sounds good. So the text string might be something like:
"[assigned habitat]: [species 1] - [Domin score 1] / [species 2] - [Domin score 3] / [species 3] - [Domin score 4] / ..."
In the event it goes over 240 characters then we just truncate I think.

[2021-04-07 13:04] kazlauskis commented on #54
Thanks, unfortunately, I don't have the access to the database to run the query. Would it be possible for someone to add the scores next to species names if I provided an excel sheet?

[2021-04-07 13:04] sacrevert commented on #63
Yes, that's fine linkwise. In theory every square in the survey currently should have a PDF/URL based on the square lettered grid ref name.

[2021-04-07 13:07] sacrevert commented on #54
Query results:
[data-1617800813873.zip](https://github.com/NERC-CEH/npms-app/files/6271797/data-1617800813873.zip)

[2021-04-07 13:10] andrewvanbreda commented on #58
@kazlauskis
Hi Karolis,

Have never had to do that, so I don't.
But am sure there is a way, it is simply a standard Drupal 7 maintenance mode, no funny business going on, so if an answer exists it would just be whatever google has to say on the matter.

Actually I remember now once having to check that for another project in some form, it is just held in one of the Drupal tables if I remember.
I t

[2021-04-07 13:12] kitenetter commented on #54
@sacrevert I don't understand why some species have multiple entries, with different scores for the same species. This may not matter for this context, where you are only interested in whether plants are above or below the threshold of 2.

But it may be that some rules exist in more than one version, and if you need to know about that we will need to investigate further.

[2021-04-07 13:13] andrewvanbreda commented on #54
@sacrevert
Hi Oli,
Just to note, as far as I am aware the main website has never had a requirement like this.

[2021-04-07 13:15] kazlauskis commented on #58
Cheers, is there a Test/Dev NPMS site I can play with whilst testing this?

[2021-04-07 13:16] sacrevert commented on #54
@andrewvanbreda not for photos, no. The scores are used in the auto-verification rulesets though. I'll check the NPMS github, if it's not there i will add the photo check thing so that, eventually, it is the same between app and website.

[2021-04-07 13:18] andrewvanbreda commented on #58
@kazlauskis
Test is here, this is attached to the live warehouse and should behave much live the real site and is generally used for that final confirmation test after main testing on my own box. Feel free to move it in and out of maintenance mode.

https://test-npms.pantheonsite.io

Dev is here

https://dev-npms.pantheonsite.io

Not this site is attached to test warehouse, and has never been comp

[2021-04-07 13:19] sacrevert commented on #54
@kitenetter Sorry, don't know. @DavidRoy do you know where the actual code is that implements the NPMS verification rulesets?

[2021-04-07 13:24] DavidRoy commented on #54
@sacrevert I'm not where the code exists but @andrewvanbreda built the auto-verification functionality I believe

[2021-04-07 13:37] kazlauskis commented on #54
@sacrevert thanks for providing the species difficulty data. In the app we currently only have species names and their warehouse IDs but using these alone might be error-prone if I tried to link with the difficulty data sheet. It would be much better if I had the species TVK keys part of the species data in the app - would you be able to also run this query for me please? (this is an old query and

[2021-04-07 13:53] andrewvanbreda commented on #54
@DavidRoy @sacrevert @kitenetter
Just in reply to David's comment.
Yes you are right, I did do the code for this a while ago. Essentially the auto verifier sets the verification status based on the state of the occurrence (so checks its identification difficulty, record_status etc), this logic is held in a some SQL which can be found in this file (see around line 120)

https://github.com/Indicia-T

[2021-04-07 14:47] #58 closed, assigned to nobody

[2021-04-07 15:54] sacrevert commented on #54
@kazlauskis @kitenetter @DavidRoy
I presume this is right. Maybe someone more knowledgeable than me on this topic can confirm. Attachment below.

[code]
[data-1617810811711.zip](https://github.com/NERC-CEH/npms-app/files/6272894/data-1617810811711.zip)

[2021-04-07 16:00] sacrevert commented on #54
And for `t."taxon_list_id" = 168`
[data-1617811131247.zip](https://github.com/NERC-CEH/npms-app/files/6272937/data-1617811131247.zip)
And for `t."taxon_list_id" = 15`
[data-1617811185398.zip](https://github.com/NERC-CEH/npms-app/files/6272940/data-1617811185398.zip)

[2021-04-09 08:08] #56 closed, assigned to sacrevert

[2021-04-09 08:21] #54 closed, assigned to kazlauskis

[2021-04-09 08:21] #63 closed, assigned to kazlauskis

[2021-04-09 08:38] #14 closed, assigned to kazlauskis

[2021-04-09 09:01] sacrevert commented on #62
@kazlauskis updated

[2021-04-09 10:06] andrewvanbreda commented on #55
@sacrevert @kazlauskis
Be aware the NPMS website has the maximum number of photos to 10 option set.
This should not affect website otherwise, if you need the 10 number altered let me know.

[2021-04-09 10:11] andrewvanbreda commented on #65
This was coded for the website but never went live I think because enabling training on the website wouldn't of affected the app and confused users.

Website issue is here
https://github.com/BiologicalRecordsCentre/NPMS/issues/190

Once this is done on the app, we can look to allow the checkbox on the website.

[2021-04-12 14:54] #65 closed, assigned to sacrevert

[2021-04-12 14:54] #62 closed, assigned to kazlauskis

[2021-04-13 17:51] kazlauskis commented on #64
@sacrevert I've added the sharing option. When selecting an **email** option it also sets the draft subject to **My NPMS survey on CURRENT_DATE** so this could also be used as a basic exporting option. I don't truncate the message to 240 because it is only Twitter that restricts this so we leave it to the user to remove the extra characters from the full message if too long. I have also enabled mo

[2021-04-14 06:18] sacrevert commented on #64
Really nice! Thanks Karolis.
@npmssupport @DavidRoy @kwal2
Any strong opinions on going with common names rather than scientific names here?

[2021-04-14 07:32] DavidRoy commented on #64
Common names seem most appropriate for this?  Also does the tweet need to say ‘NPMS plot’ or some such?

[2021-04-14 07:36] #55 closed, assigned to kazlauskis

[2021-04-14 07:37] sacrevert commented on #64
Yes, can the tweet begin with #NPMS please @kazlauskis , otherwise I think this is fine.

[2021-04-14 07:40] kazlauskis commented on #64
A good idea, I'll add this. Closing this now.

[2021-04-14 07:40] #64 closed, assigned to kazlauskis

[2021-04-27 15:11] sacrevert opened #70 "Add DAERA-NI logo to launch screen credits"

[2021-04-27 15:12] sacrevert opened #71 "Amend credit text to give UKCEH affiliation for relevant staff"
Currently says "CEH" for some credits rather than UKCEH

[2021-04-29 08:06] kazlauskis commented on #70
Do you have the logo in PNG or a similar format?

[2021-04-29 08:35] sacrevert commented on #70
![A4 DAERA Logo Black Spot](https://user-images.githubusercontent.com/5985134/116523572-4936f580-a8ce-11eb-9a1c-77483b2ea7c5.png)

[2021-04-29 08:36] sacrevert commented on #70
Here you go
[A4 DAERA Logo Black Spot.zip](https://github.com/NERC-CEH/npms-app/files/6397269/A4.DAERA.Logo.Black.Spot.zip)

[2021-05-03 07:34] #70 closed, assigned to nobody

[2021-05-03 07:37] #71 closed, assigned to nobody

[2021-05-05 14:31] sacrevert opened #72 "[beta testing 2024] Training mode banner also on survey pages"
It would be nice if, in the future, the training mode banner was also shown on the individual "Survey" pages (i.e. the one with the submit button), as well as on the main app screen.

[2021-05-12 14:03] sacrevert opened #73 "Species photos not being loaded"
Plot photos are ok, but species photos do not seem to be being loaded

[2021-05-12 15:48] kazlauskis commented on #73
Thanks, I'll have a look at it asap.

[2021-05-12 18:17] kazlauskis commented on #73
@sacrevert I am trying to replicate this. Do you have a sample ID of a record that doesn't show the photos?

[2021-05-13 08:28] sacrevert commented on #73
It's not this, it's that the photo is not attached to the record at all after I take it with the camera. Also, on my phone, the gallery option doesn't work, it also takes one to the camera. (However, both work fine for plot photos, so I assume it is not something about my phone or OS)

[2021-05-13 08:55] kazlauskis commented on #73
Thanks, I can reproduce some of it now.

[2021-05-13 16:37] kazlauskis commented on #73
Just to say that I'm still on it. It has snowballed into some more library updates and framework fixes.

[2021-05-13 16:41] sacrevert commented on #73
Appreciated, thanks!

[2021-05-13 18:15] kazlauskis commented on #73
That's fixed now. The new version will be 1.4.1.

[2021-05-13 18:15] #73 closed, assigned to nobody

[2021-05-13 18:21] sacrevert commented on #73
Thanks very much! Apologies for missing that during the testing.

[2021-05-13 18:30] kazlauskis commented on #73
No prob, we've all missed this 😄

[2021-06-23 13:52] sacrevert opened #74 "Error message informing users of upload photo limits (due to Pantheon)"
There are limits due to Pantheon on uploads:
From Pantheon’s docs:
- •	Maximum PHP execution time and other timeouts can be configured as noted in Timeouts on Pantheon.
- •	Maximum upload_max_filesize and post_max_size is 100MB. This cannot be changed.
- •	Maximum max_file_uploads is 20. This cannot be changed.
https://pantheon.io/docs/application-containers

Issue is therefore to add a more infor

[2021-08-18 19:57] kazlauskis opened #75 "NPMS App pointing at older reports folder"
Moved from https://github.com/BiologicalRecordsCentre/NPMS/issues/219

Hi Karolis,

I have just been updating reports for NPMS.
I tried searching the app for the reports and I think it just points at get_my_squares_and_plots.

(I think)

However I noticed it points at the /reports_for_prebuilt_forms/Splash reports folder in the Warehouse. This is the old folder (which will probably be removed even

[2022-01-18 11:51] sacrevert opened #76 "App to accommodate extra species survey records"
Just adding as a note for future funding opportunities / work planning

[2022-06-16 10:13] sacrevert opened #77 "Future dev: option to resubmit after coming out of training mode"
I suppose it might be nice functionality for the app to ask people if they'd like to resubmit any samples submitted in training mode if they switch it off (for undeleted samples still in the app).